.product-info {
  width: 450px;
  background-color: #67C67E;
}

.product-image {
  float: left;
  margin: 3%;
}

.product-details {
  /*float: left;*/
  color: #FFFFFF;
}

.product-description{
  padding: 10px;
  background-color: #7DADEA;
  color: #FFFFFF;
  clear: left;
  }
