.smallshoe{
  height: 45;
  width: 45;
}

.bigsneaker{
  background: #ff471a;
  color: white;
  font-family: sans-serif;
}

.ListShoes{
  background: #ff471a;
  color: white;
  font-family: sans-serif;
}

h3{
  text-decoration: underline;  
}
